.red-color {
  color: #c83c4e;
}

.red-bg {
  background-color: #c83c4e;
}
.dark-color {
  color: #1c1e21;
}

.dark-bg {
  background-color: #1c1e21;
}

.white-bg {
  background-color: #e8e8e8;
}

.white-color {
  color: #e8e8e8;
}
