header {
  position: fixed;
  left: 33px;
  top: 34px;
  z-index: 997;
  mix-blend-mode: exclusion;
}
@media (min-width: 768px) {
  header {
    top: 33px;
  }
}

.notification-menu {
  background-color: red;
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
          border-radius: 100px;
  aspect-ratio: 1/1;
  width: 14px;
  font-size: 10px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  position: fixed;
  z-index: 2000;
  right: 33px;
  top: 26px;
}

.menu-box {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 998;
  pointer-events: none;
  padding: 4rem;
  background: rgba(221, 221, 221, 0.5);
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.menu-box.active {
  opacity: 1;
}
@media (min-width: 768px) {
  .menu-box {
    width: 235px;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    right: 13px;
    top: 7px;
    background-color: #282828;
    height: auto;
    padding: 1rem;
    margin: 1rem 1.2rem;
  }
}

.menu-box-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 998;
}

.menu-symbol {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  vertical-align: bottom;
  margin-left: 0.2rem;
}

#menu-nav {
  z-index: 999;
  position: fixed;
  right: 2.4rem;
  top: 2rem;
  mix-blend-mode: exclusion;
}
#menu-nav:hover {
  mix-blend-mode: normal;
  color: red;
}
#menu-nav .bar {
  margin: 5px;
  width: 25px;
  height: 3px;
  background: white;
  -webkit-border-radius: 1.5px;
  -moz-border-radius: 1.5px;
  border-radius: 1.5px;
  transition: margin 0.2s, -webkit-transform 0.2s;
  -o-transition: margin 0.2s, -o-transform 0.2s;
  -moz-transition: margin 0.2s, transform 0.2s, -moz-transform 0.2s;
  -webkit-transition: margin 0.2s, -webkit-transform 0.2s;
  transition: margin 0.2s, transform 0.2s;
  transition: margin 0.2s, transform 0.2s, -webkit-transform 0.2s, -moz-transform 0.2s, -o-transform 0.2s;
}

#menu-icon {
  display: inline-block;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
  z-index: 999;
}
#menu-icon.close .bar:first-child {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
#menu-icon.close .bar:nth-child(2) {
  opacity: 0;
}
#menu-icon.close .bar:last-child {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -moz-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.menu-ul {
  list-style-type: none;
  pointer-events: none;
  top: 30%;
  -webkit-transform: translateY(40%);
     -moz-transform: translateY(40%);
      -ms-transform: translateY(40%);
       -o-transform: translateY(40%);
          transform: translateY(40%);
}
@media (min-width: 768px) {
  .menu-ul {
    margin-top: 1.8rem;
    -webkit-transform: inherit;
       -moz-transform: inherit;
        -ms-transform: inherit;
         -o-transform: inherit;
            transform: inherit;
  }
}
.menu-ul li a {
  display: block;
  text-decoration: none;
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 2.6rem;
  color: white;
  pointer-events: none;
}
@media (min-width: 768px) {
  .menu-ul li a {
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    margin-bottom: inherit;
  }
  .menu-ul li a:hover {
    background-color: rgba(88, 88, 88, 0.2392156863);
  }
}
.menu-ul .menu-object.active a {
  color: #e73747;
  font-weight: 600;
  pointer-events: none;
}
.menu-ul .menu-object.active a:hover {
  cursor: default;
  background-color: inherit;
}
.menu-ul .menu-object.inactive a {
  color: grey;
  pointer-events: none;
  opacity: 0.5;
}
.menu-ul .menu-object.inactive a:hover {
  cursor: default;
  background-color: inherit;
}

.small-logo {
  opacity: 0.9;
  width: 50px;
  z-index: 996;
  mix-blend-mode: exclusion;
}
.small-logo:hover {
  opacity: 1;
}

.new-post {
  font-size: 0.6rem;
  color: #cc1111;
}