<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WE ARE XZ | marketing exploration from malmö</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="https://use.typekit.net/iza3jks.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v6.5.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico" />

    <script type="text/javascript">
      // Clarity
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "jovcl27t8k");
    </script>
  </head>
  <body>
    <div class="notification-menu">1</div>

    <!-- MENYN HÄMTAS VIA JS -->
    <div id="master-menu"></div>

    <section id="white-bg">
        <div class="highlightTextContainer">
          <svg stroke="#c83c4e" stroke-width="2" class="text-line" width="100%">
            <text
              x="50%" class="desktop"
              dominant-baseline="middle"
              text-anchor="middle"
              y="50%"
            
            >
              xz studios
            </text>
            <text class="mobile xz-outline"
            x="50%"
            dominant-baseline="middle"
            text-anchor="middle"
            y="50%"
          
          >
            xz
          </text>

        <h2 class="intro-subheader">
          We help small businesses to make big impressions
        </h2>

      </div>

    </section>

    <section id="introduction">
      <div class="intro-container">
        <h2 class="embraceText">hello</h2>
        <p class="embrace-answer hidden">
          <strong>See what you did?</strong> Your curiosity led you to explore
          what lay behind that button. That very curiosity is the heartbeat of
          XZ. We thrive in embracing the unknown to create new marketing
          experiences.
        </p>

        <p class="embrace-answer2 hidden">
          <strong>Think about it:</strong> Google wasn't the first search
          engine. And Facebook was just another social platform. But they were
          both pushing past comfort zones and naysayers to shape something
          different. Remember, The Beatles were initially rejected by many
          record labels with critiques that they had no future in show business.
          <br /><strong>
            <br />
            Each story, a testament of persistence. We encourage that.</strong
          >
        </p>
        <button class="btn-outline-white hidden" id="tellMoreButton">
          Tell me more
        </button>

        <button class="btn-outline-white" id="embraceButton">Try this</button>
      </div>
    </section>

    <div id="split-container">
      <div class="left-split">
        <h3 style="margin-bottom: 0.4rem">
         A MALMÖ STUDIO FOR BUILDING BRANDS </h3>
        <p>
          We help small businesses with marketing and branding to create something new and different. 
          With our base in Malmö, we use the world as our inspiration to explore new ideas. Your brand should not just be seen, but remembered. 
          
          
                  </p>

      
        <!-- <p>We can help you. You do you and we do you.</p> -->

        <button class="btn-red btnOpenForm">We are XZ</button>
      </div>
      <div class="right-split">
        <img src="img/grey-inez-test.png" alt="" />
      </div>
    </div>

    <section class="services-spec">
      <h2 class="testh2">we do</h2>
      <!-- <p class="white">
        solo business owner who needs some action on your social media, or a
        startup who needs some good looking landing pages for your first
        campaign?
      </p> -->

      <div class="four-columns">
        <div class="column-item top-column">
          <h3>Brand concepts</h3>
          <p>
            Well-grounded strategies, stunning visuals, and strong storytelling are essential for strong brands. Together, we will ensure that your brand resonates with both you and the audience.        </div>
        <div class="column-item top-column">
          <h3>Ads & Campaigns</h3>
          <p>
            To get more out of advertising, your campaigns need to have a clear goal. Whether it's gaining brand awareness or more leads, we support you with ideas, knowledge, and production.

          </p>
        </div>
        <div class="column-item">
          <h3>Marketing & Communication</h3>
          <p>
            What should you communicate, where, and how? By pinpointing beneficial actions we produce the right content and strategy for you – from social media, SEO, articles to custom websites.          </p>
            
          </div>
        <div class="column-item">
          <h3>Graphic Design</h3>
          <p>
            Design is more than just aesthetics – it's about communication. We care about things like pixels, fonts, and colors, designing everything from presentations and illustrations, to full websites.        
  
          
          </p>        </div>
      </div>

      <div class="button-center">
        <button class="btn-outline-red">
          <a
            href="services.html"
            class="white-color"
            style="font-weight: 500; font-size: 1rem"
            >Here we explain more</a
          >
        </button>
      </div>
    </section>

    <section id="home-hero-two">
      <div id="tilt-card">
        <span class="smile">:)</span>
      </div>
      <div class="header-welike">
        <h2 id="h2SadSmiley">
          We like to make good<br />
          things to good people.
        </h2>
        <h2 id="h2Smiley" class="hidden">
          We like to make good<br />
          things to sad people too.
        </h2>

      </div>

      <div class="testar-container">
        <div class="client-container">
          <div class="client-logo">
            <img src="img/clients/partners_loggor_eseco_svart.png" alt="" />
          </div>
          <div class="client-logo">
            <img src="img/clients/partners_loggor-10.png" alt="" />
          </div>
          <div class="client-logo">
            <img src="img/clients/partners_loggor-07.png" alt="" />
          </div>
          <div class="client-logo">
            <img src="img/clients/partners_loggor-06.png" alt="" />
          </div>
          <div class="client-logo">
            <img src="img/clients/labrats_logo.png" alt="" />
          </div>

        </div>
       
      </div>
    </section>
    <!-- 
    <h2 style="text-align: center">brands</h2>
    <div id="logo-container">
      <div class="logo-container-overlay">
        <div></div><div></div>
      </div>
      <img class="client-logo2" src="img/clients/partners_loggor_eseco_svart.png" alt="Client Logo">
      <img class="client-logo2" src="img/clients/partners_loggor-10.png" alt="Client Logo">
      <img class="client-logo2 featured" id="featured-logo" src="img/clients/partners_loggor-07.png" alt="Client Logo">
      <img class="client-logo2" src="img/clients/partners_loggor-06.png" alt="Client Logo">
      <img class="client-logo2" src="img/clients/labrats_logo.png" alt="Client Logo">
    </div> -->

    <!-- <section id="customercase">
      <div class="client-container">
        <div class="client-logo">
          <img src="img/clients/partners_loggor_eseco_vit.png" alt="" />
        </div>
        <div class="client-logo">
          <img src="img/clients/partners_loggor-09.png" alt="" />
        </div>
        <div class="client-logo">
          <img src="img/clients/partners_loggor-08.png" alt="" />
        </div>
        <div class="client-logo">
          <img src="img/clients/partners_loggor-05.png" alt="" />
        </div>
        <div class="client-logo">
          <img src="img/clients/labrats_logo_white.png" alt="" />
        </div>
      </div>
    </section> -->

    <!-- <section class="dark-bg">
      
      <div class="fullscreen-img">
        <div class="about-us">
         
          <p class="dark-color" style="text-align: center;">
            "I have an idea" Felix said one day. Inez liked the idea. <br> XZ started,
            and we left our previous nice jobs in Malmö and booked a flight ticket.
          </p> -->

    <!-- <br />
          <p class="dark-color">
            XZ was born from a shared desire for change – a studio where
            creativity is fueled by new experiences, diverse perspectives, and an
            eagerness to do something different.
          </p>
          <br />
          <p class="dark-color">
            Inez and Felix bring years of marketing expertise to XZ and our
            mission is simple: to assist small businesses in creating impactful,
            personal brands. XZ is more than a studio; it's a journey into the
            heart of creativity, where each project is a part of a story, teaching
            us to learn, grow, and leave a lasting impression.
          </p> -->
    <!-- </div>
    </section> -->

    <section id="blog3-preview" style="overflow: hidden">
   

      <div class="blogcontainerThree">
        <div class="text-container">
          <h2 class="white">our stories</h2>
          <h4>
            Experiences creates stories. Here we share marketing insights and
            random reflections you won't get anywhere else
          </h4>
          <button class="btn-red">Read latest post</button>
        </div>
      </div>
    </section>

    <!-- 
<section id="blog-preview">

  <h2 class="white">read our book</h2>
<div class="blogpreview-container">

  <div class="blogpreview-text">
    <h4>RECENT POST</h4>
    <h3 class="white">Det var en kväll i juni, <br>då när solen sken som mest</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium officia dolore, tempore corrupti quasi culpa autem id sequi amet hic explicabo vero odio enim unde voluptatem non reprehenderit quia asperiores.

    <button class="btn-outline-red">kom och läs</button>
  </div>

  <div class="blogpreview-image">

    <div class="blogpreview-overlay">       -->
    <!-- <button class="btn-outline-white">Go to article</button> -->
    <!-- </div>
  <img src="stories/public/images/ales-nesetril-Im7lZjxeLhg-unsplash.png" alt="">

</div>
  </div>
</div>

</section> -->


    <!-- instagram modul     <figure data-behold-id="gCORfjAodBbOP4YM43DH"></figure>
<script src="https://w.behold.so/widget.js" type="module"></script>

 -->

    <section id="ending">
      <!-- <video src="video/compr-Flying_Over_White_Clouds_fhd - 02.mp4" loop autoplay muted></video> -->
      <div data-aos="fade-up">
        <div class="endnote">
          <h3>
            If you've come all the way to the page bottom, we clearly have
            something in common.
          </h3>
          <p>
            And that might be a good reason for us to get to know eachother.
            <a class="btnOpenForm">Say hi</a> or if you want to follow our
            journey – subscribe to our updates. For each new subscriber we must
            celebrate with a beer.
          </p>
          <div class="klaviyo-form-UuHhsQ desktop"></div>
          <div class="klaviyo-form-Wbf2n2 mobile"></div>
        </div>
      </div>
    </section>

    <script
      async
      type="text/javascript"
      src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Y6DGXR"
    ></script>

    <!-- FETCH FOOTER-->
    <footer id="master-footer"></footer>

    <!-- FETCH CONTACT-POPUP !-->
    <div id="openContactForm" class="hidden"></div>

    <script src="/script.js" is:inline></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
